body {
  background-color: rgb(247 248 253);
  height: 1000px;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.filter-ops {
  border-radius: 0.8em;
  background-color: rgb(224 231 255);
  color: rgb(98 118 219);
  justify-items: center;
  font-weight: 800;
  width: fit-content;
  font-size: 14px;
  padding: 5px 10px;
  border: none !important;
  outline: none !important;
  margin: 5px;
}

.clicked-filter-ops {
  background-color: rgb(98 118 219) !important;
  color: white;
}

.filter-ops:hover {
  cursor: pointer;
}

.light {
  background-color: rgb(255 255 255);
  border: 1px solid rgb(249 250 254);
  box-shadow: 0px 0px 1px 0px rgb(115 115 115 / 10%);
}

.dark {
  background-color: rgb(54 62 104);
  box-shadow: 0px 0px 1px 0px rgb(115 115 115 / 10%);
  color: white;
}

.small {
  width: 250px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.medium {
  width: 700px;
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 15px;
  margin-top: 0 !important;
}
.smooth {
  border-radius: 0.6em;
}

.roadmap .bullet {
  display: list-item;
  list-style: disc inside;
  padding: 0 0 0 14px;
  margin: 0;
  font-size: 30px;
}

.roadmap td:last-child {
  text-align: center;
}
/* .roadmap td:first-child {
  text-align: left;
} */
.roadmap tr {
  line-height: 2em;
}

.colorful {
  background: linear-gradient(
      217deg,
      rgb(207 42 120),
      rgb(121 38 131 / 0%) 70.71%
    ),
    linear-gradient(127deg, rgb(79 127 245), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(234 155 140), rgb(168 58 237) 70.71%),
    linear-gradient(3331deg, rgb(168 58 237), rgba(0, 0, 255, 0) 70.71%);
  /* box-shadow: 0px 0px 3px 0px rgb(115 115 115 / 40%); */
  color: white;
}

.main-container {
  margin: 50px 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  grid-auto-rows: auto;
  grid-template-areas:
    "a d"
    "b d"
    "c d"
    ". d";
}

.items-header {
  display: inline-flex;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: rgb(176 29 238);
  color: white;
  outline: none;
  border: none;
  padding: 10px;
}

.btn:hover {
  background-color: rgb(202 137 229);
  cursor: pointer;
}

.item {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  grid-auto-rows: auto;
  grid-template-areas:
    ". bb bb bb bb bb bb ."
    "aa cc cc cc cc cc cc ee"
    ". dd dd dd dd dd dd .";
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244 244 254);
  width: 35px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 12px;
}

.text-purple {
  color: rgb(125 129 197);
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(67 69 87);
  font-weight: bold;
  font-size: 16px;
}

.desc {
  color: #555;
  font-size: 15px;
  font-style: italic;
}
